*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Phần Header */
#header{
    height:90px;
    background: rgb(241, 228, 228);
    position: fixed;
    top:0;
    left:0;
    right:0; 
    z-index: 9999;
}
.header_navbar{
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    max-width: 25%;
}
.header_nav_menu{
    max-width: 60%;
    display: flex;
}
.header_nav_menu>li{
    padding:10px 20px;
    position: relative;
    transition: .5s;
}
.header_nav_menu li a{
    font-size: 17px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
    
}
.header_box{
    max-width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_box a{
        color:#fff;
        text-decoration: none;
        padding:20px 30px;
        background: #2e86de;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        transition:.3s;
        border-radius: 10px;
        margin-left: 20px;
}
.header_box:hover a{
    background:#000;
}
.menu_sub2{
    position: absolute;
    top:100%;
    left:28%;
    display: none;
    background:#FEBC35;
    border-radius: 10px;
}
.menu_sub2 li{
    padding:10px 30px 10px 14px;
    white-space: nowrap;
    transition: .5s;
}
.menu_sub2 li a{
    color:#000;
    
}
.header_nav_menu>li:hover{
    color:#FEBC35;
}
.header_nav_menu li:hover .menu_sub2{
    display: block;
    position: absolute;
}
.header_nav_menu li:hover i{
    transform:rotateX(180deg); 
}
.menu_sub2 li:hover{
    transform: translateX(10%);
}

.header_navbar_icon{
    display: none;
}
.nav__input{
    display: none;
    position: absolute;
    left:60%;
}


.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
}
.menu_mobile{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    width:330px;
    background-color: #211E3B;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    z-index: 20;
    max-width: 100%;
}  
.sub_menu_mobile{
    display: block;
    color:#fff;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
} 
.sub_menu_mobile li{
    padding: 20px 0px 15px 30px;
    transition: .5s;
}
.sub_menu_mobile li:nth-child(1){
    padding-top: 70px;
}
.sub2_menu_mobile{
    display: none;
}
.sub2_menu_mobile li{
    padding: 10px 0px 15px 20px;
}
.sub2_menu_mobile li:nth-child(1){
    padding-top: 20px;
}
.menu_mobile .icon2{ 
    font-size: 30px;
    color: #fff;
    position: fixed;
    top:15px;
    right:30px;
    cursor: pointer;
}
.sub_menu_mobile li:hover .sub2_menu_mobile{
    display: block;
}

.nav__input:checked ~ .menu_mobile{
    transform: translateX(0%);
}
.nav__input:checked ~.nav__overlay{
    display: block;
}



/* Phan main_Banner*/
#main .banner{
    margin-top: 90px;
    position: relative;
}

.banner_img1{
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2022/01/heros-01.jpg);
    top:0%;
    right:0%;
    clip-path: polygon(25% 0, 100% 0%, 101% 70%, 66% 80%, 0% 17%);
    position: absolute;
    z-index: -1;
    width: 780px;
    height: 788px;
    background-position:-120px -50px;
}

.banner_img2{
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2022/01/heros-02.jpg);
    top:45%;
    right:3%;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: absolute;
    z-index: -1;
    width: 972px;
    height: 486px;
   
}
.banner_img3{
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/plugins/techex-helper/assets/img/slide_bg_circle.png);
    top:0%;
    left:0%;
    position: absolute;
    z-index: -1;
    width: 980px;
    height: 100%;
    opacity: .56;
}

.banner_content{
    max-width: 1200px;
    margin: 0px auto;
    padding:270px 0px 280px;
    z-index: 1;
}
.banner_content_p1{
    color:#211E3B;
    font-size: 100px;
    font-weight: 800;
    font-family: 'Albert Sans', sans-serif;
    line-height: 1.1em;
}

.banner_content_p2{
    font-size: 140px;
    font-weight: 900;
    font-family: 'Albert Sans', sans-serif;
    color:#211E3B;
    line-height: 1em;
}
.banner_content_p3{
    font-size: 22.5px;
    font-weight: 600;
    font-family: 'Albert Sans', sans-serif;
    color:#211E3B;
}

.banner_content_link{
    padding: 30px 0px;
}
.banner_content_link ul{
    display: flex;
    list-style: none;
}
.banner_content_link1{
    margin-right: 20px;
}
.banner_content_link ul li a{
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
}
.banner_content_link1 a {
    color:#fff;
    padding:16px 24px;
    background: #2e86de;
    border-radius: 10px;
    transition:.5s;
}
.banner_content_link2 a{
    padding:16px 35px;
    background: transparent;
    border:1px solid #6DA8EC;
    color: #211E3B;
    border-radius: 10px;

    transition:.5s;
}
.banner_content_link1 a:hover{
    background: #211E3B;
}
.banner_content_link2 a:hover{
    background: #2e86de;
    color:#fff;
}



/* Phan main_services*/

#main .sevices_title{
    text-align: center;
    padding:50px 0px;
}
#main .sevices_title_p1{
    color:#2e86de;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
#main .sevices_title_p2{
    color:#211E3B;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-top: 13px;
}


.services_content{
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
.services_content_left{
    margin-right: 20px;
}
.services_content_img{
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2021/10/feature_img.jpg);
    width:400px;
    height:480px;
    background-size:cover ;
    background-position: center;
    border-radius: 10px;
}
.services_content_right_main_boxmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services_content_right_main_boxmain .box{
    width:45%;
    background-color: rgb(225, 235, 242);  
    margin:0px 0px 20px 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding:25px 10px 25px 30px;
}
.services_content_right_main_boxmain .box .icon i{
    font-size: 40px;
    margin-right: 25px;
}
.services_content_right_main_boxmain .text{
    color:#211E3B;
    font-family: 'Albert Sans', sans-serif;
    
}
.services_content_right_main_boxmain .text .p1{
    font-size:24px;
    margin:10px 0px 5px 0px;
    font-weight: 700;
}
.services_content_right_main_boxmain .text .p2{
    color:gray;
    font-size: 19px;
    font-weight: 400px;
}

.services_content_right_main_paragraph p{
    margin-top: 15px;
    color:#fff;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    padding:50px 62px;
    font-size: 20px;
    line-height: 31px;
    background-color: #2e86de;
    border-radius: 10px;
}
.services_content_right_main_boxmain .box:hover .p1 {
    color:#2e86de;
}



/* phan Main_about*/

.about_container{
    max-width: 1250px;
    margin: 150px auto 30px;
    display: flex;
    justify-content: space-between;
}
.about_container_box{
    width:46%;
    margin-left: 20px;
}
.about_container_box_text .top{
    font-family: 'Albert Sans', sans-serif;
}
.about_container_box_text .top h3{
    color:#266eb5;
    font-size: 15px;
    font-weight: 700;
    margin:0px 0px;
}
.about_container_box_text .top .top_p1{
    color:#211E3B;
    font-size: 40px;
    font-weight: 900;
    margin:0px 0px;
    margin-bottom: 40px;
}
.about_container_box_text .top .top_p2{
    line-height: 32px;
    color: rgb(98, 97, 97);
    font-size: 17.5px;
    font-weight: 500;
    margin-bottom: 35px;
}

.about_container_box .bottom{
    display: flex;
    align-items: center;
    padding:25px 20px;
    border:2px solid rgba(128, 128, 128, 0.211); 
    border-radius: 10px;
    transition:.5s;
}
.about_container_box .bottom .bottom_icon{
    font-size: 45px;
    margin-right: 36px;
    color:#216ab4
}
.bottom_content h2{
    font-family: 'Albert Sans', sans-serif;
    font-size: 22px;
    color:#211E3B;
    font-weight: 700;
}
.bottom_content p{
    color:gray;
    font-family: 'Albert Sans', sans-serif;
    font-size: 16px;
    line-height: 29px;
}
.about_container_img{
    margin-right: 20px;
}
.about_container_img .img_main{
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2021/10/about-us.jpg);
    width:551px;
    height:475px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about_container_img .img_main::before{
    content: '';
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2021/10/dot-circle-2.png);
    position: absolute;
    top: -100px;
    left: -18%;
    width:200px;
    height:200px;
    z-index: -1;
    
}
.about_container_img .img_main::after{
    content: '';
    background: url(https://rrdevs.net/demos/wp/techex/wp-content/uploads/2021/10/01_about-shape05.png);
    position: absolute;
    bottom: -17px;
    right: -20px;
    width:259px;
    height:200px;
    z-index: -1;
    
}
.about_container_box .bottom:hover{
    border:2px solid rgba(43, 97, 177, 0.89);
}
/* Phan Main_popular*/
.popular{
    background-color: #211E3B;
}
.popular_title{
    color:#fff;
    font-family: 'Albert Sans', sans-serif;
    text-align: center;
    padding:117px 0px 30px 0px;
    
}
.popular_title_p1{
    font-weight: 700;
    margin-bottom: 15px;
}
.popular_title_p2{
    font-weight: 900;
    font-size: 41px;
    margin-bottom: 30px;
}

.popular_content{
    display: flex;
    width: 1250px;
    max-width: 90%;
    margin:0px auto;
    justify-content: space-between;
    padding-bottom: 50px;
}
.popular_content .box{
    padding:40px 10px;
    width:300px;
    max-width: 23%;
    border:1px solid rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.popular_content .box .box_infor{
    font-family: 'Albert Sans', sans-serif;
    line-height: 33px;
    color:#9A95C0;
    text-align: center;
}
.popular_content .img_main2{
    width:100%;
    display: flex;
    justify-content: center;
}
.popular_content .box img{
    padding-bottom: 20px;
}
.box_infor h3{
    color:#fff;
    font-size: 21px;
    font-weight: 700;
}
.box_infor p{
    font-weight: 700;
}
.box_infor a{
    text-decoration: none;
    color:#9A95C0;
    font-weight: 700;
    font-size: 13px;
   
}
.box_infor a i{
    margin-left: 6px;
    font-size: 15px;
    transition:.7s;
}
.box_infor a:hover i{
    transform: translateX(10px);
}

.popular_content .box:hover{
    background:#423b71;
    border:none;
}


/*Phan main_members*/

.members_title{
    display: flex;
    justify-content: space-between;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    align-items: center;
    max-width: 1250px;
    margin: 0px auto;
    padding:120px 0px;
}
.members_title_text{
    color:#3778b8;
    font-size: 15px;
    margin-bottom: 5px;
}
.members_title_text .p2{
    color:#211E3B;
    font-size: 39px;
    font-weight: 900;
    line-height: 45px;
}
.members_title_button a{
    color:#211E3B;
    text-decoration: none;
    padding:19px 38px;
    background: rgba(167, 162, 162, 0.189);
    border-radius: 10px;
    transition:.5s;
}
.members_title_button a i{
    margin-left: 5px;
    transition:.3s;
}

.members_container_main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 190px;
}
.members_container_main_box{
    position: relative;
}
.members_container_main_box .img_main img{
    border-radius: 10px;
}
.members_container_main_box_infor{
    text-align: center;
    margin-top: 30px;
    font-family: 'Albert Sans', sans-serif;
    line-height: 34px;
}
.members_container_main_box_infor .p1{
    font-size: 20px;
    font-weight: 700;
    color:#211E3B;
    transition:.3s;
}

.members_container_main_box_infor .p2{
    font-size: 16px;
    font-weight: 400;
    color:rgb(111, 111, 111);
    transition:.3s;
    margin-bottom: 15px;
}
.members_container_main_box_icons{
    display: flex;
}
.members_container_main_box_icons a{
    width:35px;
    height:35px;
    margin:0px 5px;
    font-size: 18px;
    color:#84b5eb;
    border-radius: 50px;
    border:1px solid #84b5eb;
    transition:.5s;
    
}
.members_container_main_box_shape{
    width: 270px;
    height: 300px;
    background: rgba(139, 136, 136, 0.084);
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    transition:.3s;
}
.members_container_main_box_icons{
    width: 100%;
    justify-content: center;
}
.members_title_button a:hover{
    background: #222;
    color:#fff;
}
.members_title_button a:hover i{
    transform:translateX(80%);
}
.members_container_main_box_icons a:hover{
    background: #fff;
}

.members_container_main_box:hover .members_container_main_box_shape{
    background-color: #2e86de;
}


/* phan main_slide */
.silde{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto 30px;
    
}
.silde .silde_PSD{
    margin-left: 30px;
}
.silde .silde_PSD img{
    width:530px;
    height:500px;
    
}
.swiper {
    width: 500px;
    height: 500px;
    padding: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
   
  }



  .help{
    background: url(https://techex.windstripethemes.com/images/blog_bg.png);
    background-size: cover;
    background-position: center;
}

.help_title{
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    max-width: 1100px;
    margin: 80px auto;
 }
.help_title_p1{
    color:#086AD7;
    font-weight: 700;
 }
.help_title_p2{
    color:#211E3B;
    font-weight: 1000;
    font-size: 42px;
 }
.help_main{
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0px auto;
    padding-bottom: 60px;

}
.help_main_box{
    padding:20px 20px 35px 20px;
    background: #fff;
    text-align: left;
    border:1px solid rgba(150, 150, 150, 0.262);
    border-radius: 10px;
}
.help_main .help_main_box .box_main_img{
    overflow: hidden;
    border-radius: 10px;
}
.help_main .help_main_box .box_main_img img{
    width:340px;
    height:210px;
    transition: .5s;
}

.help_main_box .box_main_infor{
    margin-top: 15px;
    text-align: left;
    font-family: 'Albert Sans', sans-serif;
 }
 .help_main_box .box_main_infor .p3{
    color:#696969;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 700;
 }
 .help_main_box .box_main_infor .p3 i{
    margin-right: 10px;
 }
 .help_main_box .box_main_infor .p4{
    font-size: 20px;
    font-weight: 800;
    color:#211E3B;
    margin-bottom: 30px;
 }
 .help_main_box .box_main_infor a{
    padding:20px 35px;
    background: #fff;
    font-size: 14px;
    color:#696969;
    text-decoration: none;
    font-weight: 800;
    transition:.5s;
    border-radius: 10px;
    border:1px solid rgba(128, 128, 128, 0.318);
 }

 .help_main_box .box_main_infor a i{
    margin-left: 10px;
 }
 .help_main .help_main_box .box_main_img img:hover{
    transform: scale(1.2);
    
 }
 .help_main_box .box_main_infor a:hover{
    color:#fff;
    background: #007BFF;
 }

 /* Phần footer */

 #footer .footer_box{
    background:#211E3B;
 }
 #footer .footer_box .footer_box_main{
    max-width: 1200px;
    height:300px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    
 }
.footer_box_text{
    margin-left: 30px;
    font-weight: 800;
    font-family: "Albert Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 42px;
    line-height: 51px;
    max-width:800px;
 }
.footer_box_link{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
 .footer_box_link a{
    text-decoration: none;
    font-weight: 800;
    font-family: 'Albert Sans', sans-serif;
    color:#fff;
    background: #086AD7;
    padding:22px 32px;
    border-radius: 10px;
    transition: .5s;
    border: none;
 }
 .footer_box_link .a2{
    margin-top: 30px;
    padding:22px 40px;
    background:#211E3B;
    border: 1px solid gray; 
 }
 .footer_box_link a i{
    margin-left: 10px;
 }
 .footer_box_link a:hover{
    background: #000;
 }
.footer_box_link .a2:hover{
    background: #086AD7;
 }





#footer .footer_contact{  
    display: flex;
    flex-wrap: wrap;
    background: #F2F7FD;
}
#footer .footer_contact_infor{
    width:40%;
    padding:50px 0px 100px 123px;
}
#footer .footer_contact_serviecs{
    width:60%;
    display: flex;
    padding:45px 100px 100px 0px;
}
.footer_contact_serviecs .box{
    width:25%;
}

#footer .footer_contact_infor img{
    margin-bottom: 25px;
}
#footer .footer_contact_infor p{
    line-height: 34px;
    font-size: 17px;
    font-family: 'Albert Sans', sans-serif;
    color:#696969;
    font-weight: 600;
    margin-bottom: 32px;
}
#footer .footer_contact_infor_email input{
    width: 197px;
    padding: 20px 23px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 800;
    border:none;
    border-radius: 10px;
    outline:none;
    margin-right: 0px;
}
#footer .footer_contact_infor_email a{
    color:#fff;
    padding: 21.2px 20px;
    background: #086AD7;
     border-radius: 0px 10px 10px 0px;
     margin-left: 0px;
     transition:.5s;
}
#footer .footer_contact_infor_email a i{
    font-size: 30px;
}
#footer .footer_contact_serviecs .box h4{
    color:#211E3B;
    font-size: 17px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 800;
}
#footer .footer_contact_serviecs .box ul{
    list-style: none;
    line-height: 40px;
    
}
#footer .footer_contact_serviecs .box ul li{
    font-size: 15px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
    color:#696969;
}
#footer .footer_finish{
    margin: 0px auto;
    
}
#footer .footer_finish .p1{
    margin-bottom: 10px;
    color:#696969;
    font-size: 15px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
}
#footer .footer_contact_infor_email a:hover{
    background: #000;
}